<section class="panel panel-default">
    <div class="panel-heading">
        <h4 class="text-center">List of cars</h4>
    </div>
    <div class="panel-body">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th class="text-center">Id</th>
                <th class="text-center">Driver name</th>
                <th class="text-center">Status</th>
                <th class="text-center">Actions</th>
            </tr>
            </thead>
            <tbody>
            {{#each cars}}
            <tr>
                <td class="text-left">{{ _id }}</td>
                <td class="text-center">{{ driver_name }}</td>
                <td class="text-center">{{ status }}</td>
                <td class="text-center">
                    <a href="/cars/edit/{{ _id }}" class="btn btn-info">
                        <span class="glyphicon-edit"></span>
                    </a>
                    <form action="/cars/{{ _id }}" method="POST" style="display: inline-block">
                        <input type="hidden" name="_method" value="DELETE">
                        <button type="submit" class="btn btn-warning">
                            <span class="glyphicon-trash"></span>
                        </button>
                    </form>
                </td>
            </tr>
            {{/each}}
            </tbody>
        </table>
    </div>
</section>